<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=p">
    <title>%title%</title>
</head>
<body>
    <p>
        This is the place holder for Grade View
    </p>
    <h1>Grade View</h1>
</body>
</html>